
.container {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  background-image: url('../../assets/istockphoto-1212342896-612x612-1.jpeg');
  max-width: 9000px;
  max-height: 1000px;
  height: 100%
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4287f5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 463px;
  }
  
  .button:hover {
    background-color: #3366cc;
  }
  
  .button:active {
    background-color: #27408b;
  }

