.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url('../../assets/242348.jpg');
    max-width: 5000px;
    max-height: 1000px;
    height: 100%
  }
  
  .image {
    max-width: 400px;
    height: auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .description {
    text-align: center;
    font-size: 18px;
    color: white;
  }
  
  .info {
    font-size: 16px;
    color: white;
  }
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4287f5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 100px; 
  }
  
  .button:hover {
    background-color: #3366cc;
  }
  
  .button:active {
    background-color: #27408b;
  }