.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #0c383e;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #09383e;
  }
  