/* .navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  } */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-logo {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-menu {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-menu-item {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-menu-item-active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  

  .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4287f5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3366cc;
  }
  
  .button:active {
    background-color: #27408b;
  }
  
